.App {
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://previews.123rf.com/images/serezniy/serezniy1812/serezniy181214153/113135471-empty-to-do-list-and-computer-keyboard-on-grey-background.jpg');

}